<h3>WEBSOCKET CLIENTE</h3>
<form id="formulario-productos">
    Title: &emsp;&emsp;&emsp;&emsp;<input type="text" name="title" id="title">
    <br><br>
    Description: &emsp;<input type="text" name="description" id="description">
    <br><br>
    Price: &emsp;&emsp;&emsp;&emsp;<input type="number" name="price" id="price">
    <br><br>
    Status: &emsp;&emsp;&emsp;<input type="radio" name="status" id="status">
    <br><br>
    Thumbnail: &emsp;&emsp;<input type="text" name="thumbnail" id="images">
    <br><br>
    Code: &emsp;&emsp;<input type="text" name="code" id="code">
    <br><br>
    Stock: &emsp;&emsp;&emsp;&emsp;<input type="text" name="stock" id="stock">
    <br><br>
    Category: &emsp;&emsp; <input type="text" name="category" id="category">
    <br><br>
    <input type="submit" value="Add Product">
</form>
<p id="parrafoProductos"></p>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>