<h2>PERFIL ADMINISTRADOR</h2>
<h3>Bienvenido {{firstName}}</h3>

<p id="parrafoProductos"></p>

<button onclick="location.href='/users/logout'">Cerrar Sesion</button>

<script type="module" src="../public/js/productsPerfil.js"></script>